.content{
    background-color: #191919;
}
.menu {
    font-family: "Inter", sans-serif;
    font-size: 14px;
  }
  
  .menu-group-heading {
    color: rgb(211, 191, 12);
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(217, 15, 15);
    font-family: cursive;
  }
  
  .menu-group {
   display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
  }
  
  .menu-item {
    display: flex;
    border:2px rgb(181, 216, 9);
    border-radius: 1rem ;
    border-color:rgb(217, 15, 15);
  }
  
  .menu-item-image {
    border-radius: 10rem;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
  }
  
  .menu-item-text {
    color: rgb(253, 255, 254);
    flex-grow: 1;
  }
  
  .menu-item-heading {
    color: rgb(190, 229, 13);
    display: flex;
    justify-content: space-between;
    margin: 0;

  }
  
  .menu-item-name {
    margin-right: 1.5em;
    width: 20vh;
  }
  
  .menu-item-description {
    color:rgb(249, 250, 243);
    line-height: 1.6;
  }
  .menu-item-cost{
    padding-right:5%;
  }
  
  @media screen and (min-width: 992px) {
    .menu {
      font-size: 16px;
    }
  
    .menu-group {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu-item-image {
      width: 125px;
      height: 125px;
    }
  }
  @media screen and(max-width:1150px){
    .menu-group {
      display: none;
    }}