.homelayout{
    margin-top:1vh;
    display: inline-block;
    height: 100vh;
    /* background-color: rgb(11, 7, 2); */
    width: 100%;
}
.homelayout-right{
    display: block;
    float: right;
    height: auto;
    border-radius: 5vh;
    margin-left: 1vh;
    /* border: solid 2px; */
    padding-right: 2%;
    width: 47%;

}
.homelayout-right img{
    margin-top: 1%;
    margin-right: 2%;
    border: solid rgb(198, 36, 18);
    height:auto;
    border-radius: 5vh;
    display: block;
    object-fit: cover;
    width: 100%;
}
.homelayout-left{
  
    height: auto;
    /* border-radius: 5vh; */
    margin-left: 1%;
    /* border: solid 2px; */

}

.homelayout-left-heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: brown;
     margin-top: 10%;
    display: block;
    object-fit: cover;
    width: 100%;
}

.homelayout-left-content{
    margin-top: 20px;
    font-size: 25px;
    margin-left: 10px;
    color:rgb(215, 198, 43);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.homelayout-left-button {
    margin-top: 50px;
    margin-left: 10px;
}

.homelayout-left-button button{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.homelayout-left-button button:hover{
    background-color: brown;
    border-radius: 5vh;
    cursor: pointer;

}

@media screen and (max-width:650px){
    .homelayout-right{
        display:block;
        height: auto;
         width: 100%; 
         float:left;
         margin-left:-3px;
    }
    .homelayout-right img{
        margin-top: 1%;
        margin-right: 2%;
         border: solid 3px rgb(198, 36, 18); 
        height:auto;

        border-radius:0%;
        /* display: block; */
        object-fit: cover;
         width: 100%; 
    }
    .homelayout-left-heading h2{
        font-family: 'Times New Roman', Times, serif;
        font-size: 2rem;
        color: brown;
         margin-top: 10%;
        display: block;
        object-fit: cover;
        width: 100%;
    }
    .homelayout-left-button button{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
}


