.menulayout{
    display: inline-block;
    margin-right: 4%;
    margin-left: 6%;
}


.menulayout::after{
    content: "";
    display: table;
    clear: both;
}
.menulayout-heading{
    font-family: auto;
    display: block;
    align-items: center;
    margin-left: 8%;
    margin-top: 1%;
    margin-bottom: 3%;
    /* border:solid 2px red; */
}
.menulayout-card-column{
    float: left;
    /* margin-left: 2vh; */
    padding: 0 20px;
    margin-bottom: 2vh;
}
.menulayout-cards{
    float: left;
    /* margin-left: 2vh; */
    padding: 0 10px;
    margin-bottom: 2vh;
    /* border: solid 3px rgb(225, 65, 65); */
    background:none;
    height:100%;
    width: 100%;
    /* border-radius:1rem; */
   
}

.menulayout-cards:hover{
    /* background-color: rgb(160, 170, 150); */
    border: none;
}

.menulayout-item-image{
    display: flex;
    /* margin-left: 11%; */
    /* margin-right: 1%; */
    width: 98%;
    height: 21vh;
    justify-content: center;
}

.menulayout-item-image img{
    /* border-radius: 8em; */
    border: solid 2px gold;
    object-fit: cover;
    height: 20vh;
    width: 76%;
    border-radius: 8rem 8rem;
   
}
.menulayout-item-image img:hover{
    border: solid 2px green;
}

.menulayout-item-addtocart{
    /* display: contents; */
    margin-left: -3%;
    margin-right: -3%;
}

.menulayout-item-addtocart button{
    background-color: #3eb042; /* Green */
    border: solid 1px red;
  border-radius:2em;
    width: 100%;
    color: rgb(177, 35, 35);
    padding: 15px 32px;
    text-align: center;
    font-size: 10%;
    text-decoration: none;
    display: inline-block;
    /* border-radius: 2em;; */
    font-size: 20px;
}

.menulayout-card-heading{
    font: red;
}


.menulayout-item-price{
    font-size: 15px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;

    color: gold;
}

.menulayout-item-addtocart button:hover{
    background-color: gold;
    cursor: pointer;
    color: black;
}


.menulayout-cards h1{
    display: flex;
    color: rgb(255 245 0);
    font-family:'Times New Roman', Times, serif;
    /* margin-left: 20%; */
    /* font-size: 20px; */
    justify-content: center;
    align-items: center;
}

.menulayout-heading h1{
    
    color:rgb(255 242 33);
}